{% set active_page = "Index" %}
{% set page_title = "Index" %}

{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tippy.js@6/dist/tippy-bundle.umd.min.js"></script>

<script src="static/js/modules/icons.js"></script>
<!--script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script-->

{% endblock %}

{% block tabs %}
<ul class="nav nav-pills justify-content-center" role="tablist">
  <li class="nav-item active">
    <a
      class="nav-link text-muted active"
      data-toggle="tab"
      href="#tab-filter"
      role="tab"
      aria-controls="tab-filter"
      aria-selected="true"
      >Filter-Based Search
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="/embeddings/english">Embedding Visualization</a>
  </li>
</ul>
{% endblock %}

{% block content %}
<div class="row p-3"></div>


<!-- Filters -->
<div class="row" id="tab-filter">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control typeahead_all filter-input" id="search-input" placeholder="Contains" value="{{ contains }}">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary add-filter" type="button" data-filter="contains">+</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="input-group mb-3">
            <select id="filter-toxic" class="form-control filter-input" required>
                <option value="" {% if not filters.toxic %}selected{% endif %}>Toxic</option>
                <option value="true" {% if filters.toxic == 'true' %}selected{% endif %}>True</option>
                <option value="false" {% if filters.toxic == 'false' %}selected{% endif %}>False</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary add-filter" type="button" data-filter="toxic">+</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="input-group mb-3">
            <input type="text" id="filter-hashed-ip" class="form-control filter-input" placeholder="Hashed IP" value="{{ filters.hashed_ip }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary add-filter" type="button" data-filter="hashed_ip">+</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="input-group mb-3">
            <input type="text" id="filter-language" class="form-control filter-input" placeholder="Language" value="{{ filters.language }}" list="language-options">
            <datalist id="language-options">
                <option value="English">
                <option value="Russian">
                <option value="Chinese">
                <option value="Spanish">
                <option value="German">
                <option value="French">
                <option value="Portuguese">
                <option value="Italian">
                <option value="Japanese">
                <option value="Korean">
                <option value="Polish">
                <option value="Arabic">
                <option value="Turkish">
            </datalist>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary add-filter" type="button" data-filter="language">+</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="input-group mb-3">
            <input type="text" id="filter-country" class="form-control filter-input" placeholder="Country" value="{{ filters.country }}" list="country-options">
            <datalist id="country-options">
                <option value="United States">
                <option value="Russia">
                <option value="China">
                <option value="Hong Kong">
                <option value="United Kingdom">
                <option value="Germany">
                <option value="France">
                <option value="Japan">
                <option value="Canada">
            </datalist>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary add-filter" type="button" data-filter="country">+</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="input-group mb-3">
            <input type="text" id="filter-state" class="form-control filter-input" placeholder="State" value="{{ filters.state }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary add-filter" type="button" data-filter="state">+</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="input-group mb-3">
            <input type="number" id="filter-min-turns" class="form-control filter-input" placeholder="Min Turns" value="{{ filters.min_turns }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary add-filter" type="button" data-filter="min_turns">+</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="input-group mb-3">
            <select id="filter-model" class="form-control filter-input" required>
                <option value="" {% if not filters.model %}selected{% endif %}>Model</option>
                <option value="gpt-4-1106-preview" {% if filters.model == 'gpt-4-1106-preview' %}selected{% endif %}>gpt-4-1106-preview</option>
                <option value="gpt-4-0314" {% if filters.model == 'gpt-4-0314' %}selected{% endif %}>gpt-4-0314</option>
                <option value="gpt-3.5-turbo-0613" {% if filters.model == 'gpt-3.5-turbo-0613' %}selected{% endif %}>gpt-3.5-turbo-0613</option>
                <option value="gpt-3.5-turbo-0301" {% if filters.model == 'gpt-3.5-turbo-0301' %}selected{% endif %}>gpt-3.5-turbo-0301</option>
                <option value="gpt-3.5-turbo-0125" {% if filters.model == 'gpt-3.5-turbo-0125' %}selected{% endif %}>gpt-3.5-turbo-0125</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary add-filter" type="button" data-filter="model">+</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="input-group mb-3">
            <select id="filter-redacted" class="form-control filter-input" required>
                <option value="" {% if not filters.redacted %}selected{% endif %}>Contains Personal Info</option>
                <option value="true" {% if filters.redacted == 'true' %}selected{% endif %}>True</option>
                <option value="false" {% if filters.redacted == 'false' %}selected{% endif %}>False</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary add-filter" type="button" data-filter="redacted">+</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
    <div class="input-group mb-3">
        <select id="filter-dataset" class="form-control filter-input" required>
            <option value="" {% if not filters.dataset %}selected{% endif %}>Dataset</option>
            <option value="wildchat" {% if filters.dataset == 'wildchat' %}selected{% endif %}>WildChat</option>
            <option value="lmsyschat" {% if filters.dataset == 'lmsyschat' %}selected{% endif %}>LMSYS-Chat-1M</option>
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary add-filter" type="button" data-filter="dataset">+</button>
        </div>
    </div>
</div>

</div>

<div class="row">
    <div class="col-12">
        <div id="current-filters">
            <h5>Filters Applied:</h5>
            <ul class="list-inline">
                {% if contains %}
                <li class="list-inline-item">
                  <span class="badge badge-primary">
                    Contains: {{ contains }}
                    <a href="javascript:void(0)" class="remove-filter btn btn-outline-secondary" data-filter="contains">&times;</a>
                  </span>
                </li>
                {% endif %}
                {% for key, value in filters.items() %}
                    {% if value %}
                    <li class="list-inline-item">
                      <span class="badge badge-primary">
                        {% if key == 'redacted' %}
                          Contains personal info: {{ value }}
                        {% else %}
                          {{ key|capitalize }}: {{ value }}
                        {% endif %}
                        <a href="javascript:void(0)" class="remove-filter btn btn-outline-secondary" data-filter="{{ key }}">&times;</a>
                      </span>
                    </li>
                    {% endif %}
                {% endfor %}
                {% if not contains and not any_filters %}
                <li class="list-inline-item">
                <span class="badge badge-secondary">None</span>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<!-- Cards -->
<div class="cards row">
{% for conversation in conversations %}
    <div class="myCard col-xs-6 col-md-4">
        <div class="pp-card pp-mode-detail ">
            <div class="pp-card-header-metadata" style="">
                <h6 class="card-subtitle text-center" style="overflow-x: auto;"><a target="_blank" href="/conversation/{{ conversation.dataset|urlencode }}/{{ conversation.conversation_id|urlencode }}">Conversation Id {{ conversation.conversation_id }}</a></h6>
                {% if conversation.timestamp %}
                <h6 class="card-subtitle text-muted" style="margin-top: 0; overflow-x: auto;">Time: {{ conversation.timestamp }}</h6>
                {% endif %}
                {% if conversation.country %}
		        <h6 class="card-subtitle text-muted" style="margin-top: 0">
                    <a target="_blank" href="?state={{ conversation.state|urlencode }}&country={{ conversation.country|urlencode }}">{{ conversation.state }}</a>,
                    <a target="_blank" href="?country={{ conversation.country|urlencode }}">{{ conversation.country }}</a>
                </h6>
                {% endif %}

                {% if conversation.hashed_ip %}
                <h6 class="card-subtitle text-muted" style="margin-top: 0; overflow-x: auto;"><a target="_blank" href="?hashed_ip={{ conversation.hashed_ip|urlencode }}">IP Hash: {{ conversation.hashed_ip }}</a></h6>
                {% endif %}
                <h6 class="card-subtitle text-muted" style="margin-top: 0; overflow-x: auto;"><a target="_blank" href="?model={{ conversation.model|urlencode }}">Model: {{ conversation.model }}</a></h6>
                <h6 class="card-subtitle text-muted" style="margin-top: 0; overflow-x: auto;">
                {% if conversation.dataset == 'lmsyschat' %}
                <a target="_blank" href="/?dataset=lmsyschat" class="badge badge-info">LMSYS-Chat</a>
                {% elif conversation.dataset == 'wildchat' %}
                <a target="_blank" href="/?dataset=wildchat" class="badge badge-success">WildChat</a>
                {% endif %}
                {% if conversation.toxic %}<a target="_blank" href="/?toxic=true" class="badge badge-danger">Toxic</a>{% endif %}
                {% if conversation.redacted %}<a target="_blank" href="/?redacted=true" class="badge badge-danger">Contains personal info</a>{% endif %}
                </h6>
            </div>
            <div class="pp-card-header" style="overflow-y: auto;">
                <div class="chat-container">
                    {% for message in conversation.conversation %}
                    <div class="messages {% if message.role == 'user' %}mine{% else %}yours{% endif %}">
                        <div class="message last">{{ message.content|nl2br }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<!-- Pagination -->
<div class="row">
  <div class="col-12">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <span class="page-link">Total Results: {% if total >= 10000 %}&ge; 10000{% else %}{{ total }}{% endif %}</span>
        </li>
        {% for page_num in pages %}
          {% if page_num == '...' %}
            <li class="page-item disabled"><span class="page-link">...</span></li>
          {% else %}
            <li class="page-item {% if page_num == page %}active{% endif %}">
            <a class="page-link" href="{% set params = [] %}{% if contains %}{% do params.append('contains=' ~ contains|urlencode) %}{% endif %}{% for key, value in filters.items() if value %}{% do params.append(key ~ '=' ~ value|urlencode) %}{% endfor %}{% if page_num != 1 %}{% do params.append('page=' ~ page_num) %}{% endif %}{% if params|length > 0 %}?{{ params|join('&') }}{% endif %}">{{ page_num }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>

<script src="/static/js/modules/urlParams.js"></script>
<script src="/static/js/modules/typeaheadSetup.js"></script>
<script src="/static/js/modules/lazyLoad.js"></script>
<script src="/static/js/data/persistor.js"></script>
<script src="/static/js/data/wrangle.js"></script>
<!--script src="static/js/views/papers.js"></script-->
<script>
    //function showLoading() {
    //    document.getElementById('loading-overlay').style.display = 'block';
    //}
    //
    //function hideLoading() {
    //    document.getElementById('loading-overlay').style.display = 'none';
    //}
  $(document).ready(function () {
    //tippy("[data-tippy-content]", { trigger: "mouseenter focus" });
    //start();
    function updateUrlParams() {
      let urlParams = new URLSearchParams(window.location.search);
      // Get the raw values directly from the input fields
      let contains = $('#search-input').val();
      if (contains) {
        urlParams.set('contains', contains);
      } else {
        urlParams.delete('contains');
      }

      let toxic = $('#filter-toxic').val();
      if (toxic) {
        urlParams.set('toxic', toxic);
      } else {
        urlParams.delete('toxic');
      }

      let model = $('#filter-model').val();
      if (model) {
        urlParams.set('model', model);
      } else {
        urlParams.delete('model');
      }

      let redacted = $('#filter-redacted').val();
      if (redacted) {
        urlParams.set('redacted', redacted);
      } else {
        urlParams.delete('redacted');
      }

     let dataset = $('#filter-dataset').val();
     if (dataset) {
         urlParams.set('dataset', dataset);
     } else {
         urlParams.delete('dataset');
     }

      let hashedIp = $('#filter-hashed-ip').val();
      if (hashedIp) {
        urlParams.set('hashed_ip', hashedIp);
      } else {
        urlParams.delete('hashed_ip');
      }

      let language = $('#filter-language').val();
      if (language) {
        urlParams.set('language', language);
      } else {
        urlParams.delete('language');
      }

      let country = $('#filter-country').val();
      if (country) {
        urlParams.set('country', country);
      } else {
        urlParams.delete('country');
      }

      let state = $('#filter-state').val();
      if (state) {
        urlParams.set('state', state);
      } else {
        urlParams.delete('state');
      }

      let minTurns = $('#filter-min-turns').val();
      if (minTurns) {
        urlParams.set('min_turns', minTurns);
      } else {
        urlParams.delete('min_turns');
      }

      // Reset the page number to 1 when updating filters
      urlParams.set('page', 1);
      urlParams.delete('page');
      let containsString = Array.from(urlParams.entries())
                          .map(([key, value]) => `${key}=${encodeURIComponent(value)}`)
                          .join('&');
      if (containsString) {
        window.location.search = containsString;
      } else {
        window.location.href = window.location.pathname;
      }
    }

    function handleEnterKey(event) {
      if (event.key === 'Enter') {
        updateUrlParams();
      }
    }

    function checkInputs() {
        $('.filter-input').each(function () {
            let $input = $(this);
            let $button = $input.parent().find('.add-filter');
            if ($input.val().trim() === '') {
                $button.prop('disabled', true);
            } else {
                $button.prop('disabled', false);
            }
        });
    }

    // Function to set form values based on URL parameters
    function setFormValuesFromUrlParams() {
        let urlParams = new URLSearchParams(window.location.search);
        $('#search-input').val(decodeURIComponent(urlParams.get('contains') || ''));
        $('#filter-toxic').val(decodeURIComponent(urlParams.get('toxic') || ''));
        $('#filter-redacted').val(decodeURIComponent(urlParams.get('redacted') || ''));
        $('#filter-dataset').val(decodeURIComponent(urlParams.get('dataset') || ''));
        $('#filter-model').val(decodeURIComponent(urlParams.get('model') || ''));
        $('#filter-hashed-ip').val(decodeURIComponent(urlParams.get('hashed_ip') || ''));
        $('#filter-language').val(decodeURIComponent(urlParams.get('language') || ''));
        $('#filter-country').val(decodeURIComponent(urlParams.get('country') || ''));
        $('#filter-state').val(decodeURIComponent(urlParams.get('state') || ''));
        $('#filter-min-turns').val(decodeURIComponent(urlParams.get('min_turns') || ''));
    }

    // Set form values on page load
    setFormValuesFromUrlParams();

    // Initial check
    checkInputs();
    $('.filter-input').on('input keyup change', checkInputs);
    $('.add-filter').click(updateUrlParams);
    $('.filter-input').on('keypress', handleEnterKey);

    $('.remove-filter').click(function() {
      let filter = $(this).data('filter');
      let urlParams = new URLSearchParams(window.location.search);
      urlParams.delete(filter);
      urlParams.set('page', 1);
      urlParams.delete('page');
      let containsString = Array.from(urlParams.entries())
                          .map(([key, value]) => `${encodeURIComponent(key)}=${encodeURIComponent(value)}`)
                          .join('&');
      //window.location.search = containsString;
      if (containsString) {
        window.location.search = containsString;
      } else {
        window.location.href = window.location.pathname;
      }
    });

    $('.typeahead_all_clear').click(function() {
      window.location.href = '/';
    });
    //hideLoading();
  });
</script>

{% endblock %}

{% block footer %}
<!--div id="loading-overlay" style="display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); z-index: 9999;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
        <div style="color: white; font-size: 24px; font-weight: bold; margin-bottom: 20px;">Loading...</div>
        <div class="spinner"></div>
    </div>
</div-->
{% endblock %}
